<div class="container mt-5 mb-4 text-center" >
  <h5 class="card-header">Rahul</h5>
  <div class="card-body">
    <p class="card-title">hr rahul was student of iit bombay</p>
    <p class="card-text">this details of rahul </p>
   
  </div>
</div>