
<h2> Hr-Rahul</h2>
<%= link_to 'About us', about_us_path, target: '_blank' %>
<%= link_to 'Contact us', contact_us_path, target: '_blank' %>
<%= link_to 'privacy_policy', privacy_policy_path, target: '_blank' %>
<%= link_to 'terms_and_conditions', terms_and_conditions_path, target: '_blank' %>